body {
    background-image: url("1.png");
    background-size: cover

}
.page-header{
    display: grid;
    grid-template-columns: 1fr 260px;
    margin: 0px;
    gap: 0px;
    padding-left: 20px;
    padding-bottom:70px ;
    padding-top:30px ;
    padding-right: 20px;
}
.page-header {
   	padding: 15px 15px;
   	font-size: 20px;
   	background: #9932CC;
}
.quote{
    display: table;
    margin: 0 auto;
    color:rgb(0, 0, 0) ;
    padding-top: 50px ;
    padding-bottom: 50px ;
    margin: 0px;
}
.days-list{
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap:30px;
    column-gap: 20px;
    padding-left: 20px;
    padding-bottom:40px ;
    padding-top:25px ;
    padding-right: 20px;
    gap: 30px;
   
}




.day {
    padding-left: 20px;
    padding-bottom:10px ;
    padding-top:10px ;
    padding-right: 10px;
    background-color: #9370DB;
}


footer{
    padding-left: 20px;
    padding-bottom:20px ;
    padding-top:10px ;
    background-color: #7B68EE;
    text-align: center;
}